Options -MultiViews
RewriteEngine On
RewriteBase /church-system/backend/api/

# If the request is not a real folder or file, send it to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]